
.product__row {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.bla {
   height: 40px;
   width: 80px;
   background-color: blue;
   margin: 0 auto; 
}
.product__item {
   flex: 0 0 24%;
   border: 1px solid black;
   margin-top: 30px;
   padding: 15px;
   text-align: center;
}
.product__name {
   margin: 15px 0;
}

.product__phone {
   margin: 15px 0;
}