<div class="product">
   <div class="product__item" (click)='goToProd(product._id)' *ngIf='product'>
      <img src="https://nodejs-final-mysql.herokuapp.com{{product.image}}" alt="Img" class="product__img">
      <p>{{product.name}}</p>
      <div class="main__rating">
         <p>
            <span class="product__star product__star{{product.rating}}"></span>
            <span class="product__review">{{product.numReviews}} reviews</span>
         </p>
      </div>
      <h4 class="product__price">$ {{product.price}}</h4>
   </div>
</div>